h1{
    align-items: center;
    text-align: center;
    font-family: Arial;
    justify-content:center;
}

body
{
    font-family: Arial;
    background: #fccafc;
}

img{
    border: black;
    height: auto;
    width: auto;
}

.body{
    background: #947143;
}

.form{
    background: #ddaf72;
}

.footer{
    font-family: Arial;
    font-size: 22px;
    font-weight: bold;
}

input[type=submit]{
    align-items: center;
    text-align: center;
    font-family: Arial;
    justify-content:center;
    height: 50px;
    width: 100px;
    border-width: medium;
    padding: 2px;
}

input[type=text]{
    font-family: Arial;
    height: 100px;
    width: 400px;
    display: block;
    align-items: center;
    text-align: center;
    border-width: medium;
    padding: 2px;
}

.centerButton{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: 16px;
}

.logo{
    display: block;
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}

.center{
    display: block;
    font-family: Arial;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-drop{
    display: block;
    font-family: Arial;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.rating-box{
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    justify-content:center;
    text-align: center;
    align-items: center;
    font-family: Arial;
}
.rating{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    margin:auto;
    width:300px;
    border: 1px solid #000;
    box-sizing: border-box;
    background: linear-gradient(to right, #f00, #f00, #0f0);
}
.rating input{
    display: none;
}
.rating label{
    text-align: center;
    cursor: pointer;
    margin:auto;
    width:50px;
    height:50px;
    transition: 0.5s;
    background: #fff;
    font-size: 20px;
    border-right: 1px solid #000;
}
.rating input[type="radio"]:hover ~ label,
.rating input[type="radio"]:checked ~ label{
    background: transparent;
}